## MongoDB Database Operations from Jupyter Notebook with Python:

<br/>
<br/>
<img src="mongodb_python.png" style="width:500px;height:379px" />

#### Interacting with MongoDB using Python via Jupyter Notebook instead of IDE or Text Editor.

**Description**: Here I have written the statements to perform CRUD actions on **customer_details** collection in **mongodb_workshop** database from localhost server of MongoDB.

#### MongoDB CRUD methods with Python

**Create/Insert**:
> - insert_one()
> - insert_many()

**Read/Fetch**:
> - To find all documents - find()
> - To find one specific document - find({})

**Update**:
> - update_one()
> - update_many()

**Delete**:
> - delete_one()
> - delete_many()

In [ ]:
# pip install pymongo

In [1]:
import pymongo
# from pymongo import MongoClient

In [18]:
# To query MongoDB documents with auto assigned ID:
from bson.objectid import ObjectId

In [2]:
client = pymongo.MongoClient('localhost', 27017)
db = client.mongodb_workshop
collection = db.collection["customer_details"]

#### To insert one document:

In [3]:
cust_1 = {"_id": 1, "first_name": "John", "gender": "M", "mem_type": "gold", "coach": "Roldoro", "batch": "AM", "num_of_sessions_week": 3, "sport_registered": "valleyball", "price_month": 27}

In [4]:
collection.insert_one(cust_1)

#### To insert more than one document:

In [5]:
cust_docs = [
    {"_id": 2, "first_name": "Abbas", "gender": "F", "mem_type": "gold", "coach": "Roldoro", "batch": "AM", "num_of_sessions_week": 3, "sport_registered": "valleyball", "price_month": 27},
    {"_id": 3, "first_name": "Kate", "gender": "F", "mem_type": "gold", "coach": "Roldoro", "batch": "PM", "num_of_sessions_week": 3, "sport_registered": "basketball", "price_month": 27},
    {"_id": 4, "first_name": "Adnan", "gender": "F", "mem_type": "silver", "coach": "Roldoro", "batch": "PM", "num_of_sessions_week": 2, "sport_registered": "basketball", "price_month": 24},
    {"_id": 5, "first_name": "Kim", "gender": "M", "mem_type": "silver", "coach": "William", "batch": "PM", "num_of_sessions_week": 2, "sport_registered": "badminton", "price_month": 24},
    {"_id": 6, "first_name": "Akhil", "gender": "F", "mem_type": "platinum", "coach": "William", "batch": "PM", "num_of_sessions_week": 4, "sport_registered": "badminton", "price_month": 30},
    {"_id": 7, "first_name": "Madison", "gender": "M", "mem_type": "silver", "coach": "William", "batch": "AM", "num_of_sessions_week": 2, "sport_registered": "tt", "price_month": 24}
]

In [6]:
collection.insert_many(cust_docs)

#### Inserting two documents to demo delete_many()

In [24]:
test_docs = [
    {'first_name': 'check_1', 'gender': 'M', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27},
    {'first_name': 'check_2', 'gender': 'M', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27}
]

In [27]:
collection.insert_many(test_docs)

#### To fetch all documents from the collection:

In [7]:
collection.find()

In [8]:
results = collection.find()

# OR
# results = collection.find({})

In [9]:
type(results)

pymongo.cursor.Cursor

In [10]:
for doc in results:
    print(doc)

{'_id': 1, 'first_name': 'John', 'gender': 'M', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27}
{'_id': 2, 'first_name': 'Abbas', 'gender': 'F', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27}
{'_id': 3, 'first_name': 'Kate', 'gender': 'F', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'PM', 'num_of_sessions_week': 3, 'sport_registered': 'basketball', 'price_month': 27}
{'_id': 4, 'first_name': 'Adnan', 'gender': 'F', 'mem_type': 'silver', 'coach': 'Roldoro', 'batch': 'PM', 'num_of_sessions_week': 2, 'sport_registered': 'basketball', 'price_month': 24}
{'_id': 5, 'first_name': 'Kim', 'gender': 'M', 'mem_type': 'silver', 'coach': 'William', 'batch': 'PM', 'num_of_sessions_week': 2, 'sport_registered': 'badminton', 'price_month': 24}
{'_id': 6, 'first_name': 'Akhil', 'gender': 'F', 'mem_type': 'platinum', 'coach': 'William', 'batch': 'PM', 'num_of_sessions_week': 4, 'sport_registered': 'badminton', 'price_month': 30}
{'_id': 7, 'first_name': 'Madison', 'gender': 'M', 'mem_type': 'silver', 'coach': 'William', 'batch': 'AM', 'num_of_sessions_week': 2, 'sport_registered': 'tt', 'price_month': 24}

#### Insert a record without explicit '_id' property:

In [ ]:
# doc_delete = {"first_name": "check", "gender": "M", "mem_type": "gold", "coach": "Roldoro", "batch": "AM", "num_of_sessions_week": 3, "sport_registered": "valleyball", "price_month": 27}

In [11]:
res = collection.insert_one({"first_name": "check", "gender": "M", "mem_type": "gold", "coach": "Roldoro", "batch": "AM", "num_of_sessions_week": 3, "sport_registered": "valleyball", "price_month": 27})

In [12]:
# To get the id of above inserted document:
res.inserted_id

ObjectId('605dbe03bc5d1e410a476345')

#### To fetch only specific number of documents:

In [13]:
ans = collection.find({}).limit(3)

In [14]:
for doc in ans:
    print(doc)

{'_id': 1, 'first_name': 'John', 'gender': 'M', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27}
{'_id': 2, 'first_name': 'Abbas', 'gender': 'F', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'AM', 'num_of_sessions_week': 3, 'sport_registered': 'valleyball', 'price_month': 27}
{'_id': 3, 'first_name': 'Kate', 'gender': 'F', 'mem_type': 'gold', 'coach': 'Roldoro', 'batch': 'PM', 'num_of_sessions_week': 3, 'sport_registered': 'basketball', 'price_month': 27}

#### To fetch the specific document by passing in id:

In [20]:
collection.find_one(2)

{'_id': 2,
 'first_name': 'Abbas',
 'gender': 'F',
 'mem_type': 'gold',
 'coach': 'Roldoro',
 'batch': 'AM',
 'num_of_sessions_week': 3,
 'sport_registered': 'valleyball',
 'price_month': 27}

In [19]:
collection.find_one(ObjectId('605dbe03bc5d1e410a476345'))

{'_id': ObjectId('605dbe03bc5d1e410a476345'),
 'first_name': 'check',
 'gender': 'M',
 'mem_type': 'gold',
 'coach': 'Roldoro',
 'batch': 'AM',
 'num_of_sessions_week': 3,
 'sport_registered': 'valleyball',
 'price_month': 27}

#### To delete one document:

In [21]:
doc_delete = collection.insert_one({"_id": 8, "first_name": "Todelete", "gender": "M", "mem_type": "gold", "coach": "Roldoro", "batch": "AM", "num_of_sessions_week": 3, "sport_registered": "valleyball", "price_month": 27})

In [23]:
collection.delete_one({"_id": 8})

In [ ]:
# To delete document with auto assigned ID:
collection.delete_one({"_id": ObjectId('605dbe03bc5d1e410a476345')})

#### To delete more than one document:

In [28]:
del_docs = { "first_name": {"$regex": "^c"} }

In [29]:
collection.delete_many(del_docs)

#### To delete all the documents:

In [ ]:
collection.delete_many({})

#### To update one document:

In [30]:
doc_update = {"first_name": "John"}
val_update = {"$set": {"first_name": "Johnson"}}

In [31]:
collection.update_one(doc_update, val_update)

#### To update more than one document:

In [32]:
docs_update = {"first_name": {"$regex": "^A"}}
vals_update = {"$set": {"coach": "Deo"}}

In [33]:
collection.update_many(docs_update, vals_update)

#### To drop a collection:

In [ ]:
# collection.drop()